# Activity 2
## Extract and Repurpose Data - Part B

This notebook takes the data from the CSV Files created with the Part A notebook and answers the 8 questions for this activity. 

We begin with loading the required libraries, and then reading the 2 CSV files into R.

In [25]:
library(dplyr)
library(RSQLite) 
library(plyr)
library(sqldf)
library(gdata)

In [26]:
players = read.csv("players.csv", header = TRUE)
teams = read.csv("teams.csv", header = TRUE)

### Q.1 Which are the top 10 players by overall rating?

For this question, we select the overall_rating, player_name and player_api_id fields, 
and then we sort the data in descending order of overall_rating.
The first 10 rows are then displayed

In [27]:
top10players <- select(players,player_api_id,player_name,overall_rating) 
top10players <- arrange(top10players,desc (overall_rating))
head(top10players,n=10)

   player_api_id player_name       overall_rating
1  30981         Lionel Messi      94
2  30717         Gianluigi Buffon  93
3  30829         Wayne Rooney      93
4  30893         Cristiano Ronaldo 93
5  39854         Xavi Hernandez    92
6  39989         Gregory Coupet    92
7  30626         Thierry Henry     91
8  30627         John Terry        91
9  30657         Iker Casillas     91
10 30723         Alessandro Nesta  91

<br><br><br>

### Q.2 Which are the top 10 goalkeepers by sum of gk attributes?

For this question, we select the gk_total, player_name and player_api_id fields, 
and then we sort the data in descending order of gk_total.
The first 10 rows are then displayed

In [28]:
topgk <- players %>% select(player_api_id,player_name,gk_total) %>% arrange(desc (gk_total))
head(topgk,n=10)

   player_api_id player_name       gk_total
1   30717        Gianluigi Buffon  449
2   39989        Gregory Coupet    447
3   30859        Petr Cech         445
4   30657        Iker Casillas     442
5   27299        Manuel Neuer      440
6   30989        Julio Cesar       438
7   24503        Sebastian Frey    437
8   30726        Edwin van der Sar 436
9  182917        David De Gea      429
10  30660        Pepe Reina        428

<br><br><br>

### Q.3 Which are the top 10 players by number of appearances (with any team they played with)?

For this question, we select the num_matches, player_name and player_api_id fields, 
and then we sort the data in descending order of num_matches.
The first 10 rows are then displayed

In [29]:
topmatch <- players %>% select(player_api_id,player_name,num_matches) %>% arrange(desc (num_matches))
head(topmatch,n=10)

   player_api_id player_name          num_matches
1  31293         Steve Mandanda       300
2  41097         Stephane Ruffier     294
3  33764         Gorka Iraizoz Moreno 286
4  42422         Samir Handanovic     286
5  26295         Hugo Lloris          282
6  31465         Tim Howard           282
7  31432         Joe Hart             275
8  26168         Cedric Carrasso      268
9  26399         Daniel Congre        262
10 94550         Moussa Sissoko       260

### Q.4 Which are the top 10 players by number of leagues they played in?

For this question, we select the num_leagues, player_name and player_api_id fields, 
and then we sort the data in descending order of num_leagues.
The first 10 rows are then displayed

In [30]:
topleague <- players %>% select(player_api_id,player_name,num_leagues) %>% arrange(desc (num_leagues))
head(topleague,n=10)

   player_api_id player_name           num_leagues
1   42119        Gelson Fernandes      6
2  116750        Ricky van Wolfswinkel 5
3  178538        Filip Djuricic        5
4   22543        Radamel Falcao        4
5   24123        Jonathan De Guzman    4
6   25816        Almen Abdi            4
7   26434        Ibrahim Afellay       4
8   26489        Edson Braafheid       4
9   26675        Eljero Elia           4
10  30477        Danijel Pranjic       4

### Q.5 Which are the top 10 teams by sum of build up play attributes?

For this question, we select the sum of buildup attributes, team_api_id and team_name fields, 
and then we sort the data in descending order of build_up.
The first 10 rows are then displayed

In [31]:
topteambup <- teams %>% select(team_api_id,team_name,build_up) %>% arrange(desc (build_up))
head(topteambup,n=10)

   team_api_id team_name                  build_up
1    9804      Torino                     209
2    8600      Udinese                    205
3    8194      Fortuna Düsseldorf         198
4    8033      Podbeskidzie Bielsko-Biala 193
5    8245      Korona Kielce              192
6  208931      Carpi                      190
7    8024      Widzew Lódz                190
8    8244      Widzew Lódz                190
9    9830      FC Nantes                  189
10   7943      Sassuolo                   188

### Q.6 Which are the top 10 teams by sum of chance creation attributes?

For this question, we select the sum of chance creation attributes, team_api_id and team_name fields, 
and then we sort the data in descending order of chance_cr.
The first 10 rows are then displayed

In [32]:
topteamchance <- teams %>% select(team_api_id,team_name,chance_cr) %>% arrange(desc (chance_cr))
head(topteamchance,n=10)

   team_api_id team_name           chance_cr
1   8543       Lazio               220
2   8697       SV Werder Bremen    216
3   9875       Napoli              215
4  10003       Swansea City        210
5  10172       Queens Park Rangers 210
6   8178       Bayer 04 Leverkusen 210
7   8191       Burnley             210
8   8344       Cardiff City        210
9   8456       Manchester City     210
10  8485       Aberdeen            210

### Q.7 Which are the top 10 teams by sum of defense attributes?

For this question, we select the sum of defence attributes, team_api_id and team_name fields, 
and then we sort the data in descending order of defence.
The first 10 rows are then displayed

In [33]:
topteamdef <- teams %>% select(team_api_id,team_name,defence) %>% arrange(desc (defence))
head(topteamdef,n=10)

   team_api_id team_name              defence
1  10001       KVC Westerlo           210
2  10003       Swansea City           210
3  10172       Queens Park Rangers    210
4  10249       Montpellier Hérault SC 210
5   1957       Jagiellonia Bialystok  210
6   7794       SC Bastia              210
7   8021       Zaglebie Lubin         210
8   8197       Leicester City         210
9   8344       Cardiff City           210
10  8350       1. FC Kaiserslautern   210

<br><br><br>

### Q.8 Which are the top 10 teams by number of scored goals?

For this question, we select the total_goals, team_api_id and team_name fields, 
and then we sort the data in descending order of total_goals.
The first 10 rows are then displayed

In [34]:
topteamgoals <- teams %>% select(team_api_id,team_name,total_goals) %>% arrange(desc (total_goals))
head(topteamgoals,n=10)

   team_api_id team_name         total_goals
1   8634       FC Barcelona      849
2   8633       Real Madrid CF    843
3   9925       Celtic            695
4   9823       FC Bayern Munich  653
5   8640       PSV               652
6   8593       Ajax              647
7   9931       FC Basel          619
8   8456       Manchester City   606
9   8455       Chelsea           583
10 10260       Manchester United 582